<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-header></app-header>

<main class="container">
  <div class="row my-5">
    <div class="col-md-6 producto">
      <div *ngFor="let imagen of carrusel" class="producto__div" >
        <img class="producto__img" [ngClass]="imagen.estado ? 'producto__img--activo' : 'producto__img'" src="{{imagen.rutaBig}}" alt="{{imagen.nombre}}">
      </div>
      <div class="producto__slider">
        <div *ngFor="let imagen of carrusel" (click)="cambiarProducto(imagen.id)">
          <img class="producto__thumbnail" [ngClass]="imagen.estado ? 'producto__thumbnail--activo' : 'producto__thumbnail'" src="{{imagen.ruta}}" alt="{{imagen.nombre}}">
        </div>
      </div>
    </div>
    <div class="col-md-6 info">
      <div class="mb-2">
        <h4 class="info__subtitle">sneaker company</h4>
      </div>
      <div class="mb-4">
        <h2 class="info__title">Fall limited edition <span class="d-block">sneakers</span></h2>
      </div>
      <div class="mb-3">
        <p class="info__p">
          These low-profile sneakers are your perfect casual wear <span class="d-md-block">companion. Featuring a 
            durable rubber outer sole, they’ll</span>  withstand everything the weather can offer.
        </p>
      </div>
      <div class="precio">
        <p class="precio__desc mb-0">$125.00</p>
        <p class="precio__regular">$250.00</p>
      </div>
      <div class="row mx-0">
        <div class="col-md-3 cantidades">
          <button class="cantidades__btn" (click)="quitar()">
            <img src="src/../assets/images/icon-minus.svg" alt="icon minus">
          </button>
          <p class="mb-0">{{cantidad}}</p>
          <button class="cantidades__btn" (click)="agregar()">
            <img src="src/../assets/images/icon-plus.svg" alt="icon plus">
          </button>
        </div>
        <div class="col-md-6 px-0 px-md-3 my-3 my-md-0">
          <button class="btn-cart" (click)="agregarProductoAlCarrito(cantidad)">
            <img class="btn-cart__img" src="src/../assets/images/cart-outline.svg" alt="icon add to cart">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
